
<h2>The Data You Entered</h2>

<div class="form-group">
  <label>
   <h4> First Name : {{user.firstname}} </h4>
  </label>
</div>

<div class="form-group">
  <label>
    <h4>Last Name : {{user.lastname}}  </h4>
  </label>
</div>

<div class="form-group">
    <label>
     <h4> Email : {{user.email}} </h4>
       
    </label>
</div>

<div class="form-group">
    <label>
    <h4>  Gender : {{user.gender}} </h4>
    </label>
  </div>

  
<div class="form-group">
    <label>
    <h4>  Contact Number : {{user.contact}}  </h4> 
    </label>
  </div>
  
<div class="form-group">
    <label>
    <h4>  Password : {{user.password}}   </h4>
    </label>
  </div>

  
<div class="form-group">
    <label>
    <h4>  Confirm Password : {{user.confirmpassword}}</h4>
    </label>
  </div>

   
<div class="form-group">
    <label>
     <h4> Employee ID : {{user.empid}}</h4>
    </label>
  </div>